<div class="main-top">
  <div class="current-room">
    <%= @room.name %>
  </div>
  <div class="destroy-room">
    <%= link_to 'finish this chat', room_path(@room), method: :delete %>
  </div>
</div>

<div class="main-middle">
  <%# <div class="upper-content">
    <div class="whose-message">
      Tom
    </div>
    <div class="date-time">
      2021/03/03(wed)12:42:00
    </div>
  </div>
  <div class="lower-content">
    <div class="message">
      i'm starving..
    </div>
  </div> %>
  <%= render partial: 'messages', collection: @messages %>
</div>

<%# <div class="main-bottom">
  <div class="form">
    <input class="type-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-title">Img</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-message" type="submit" value="SEND">
</div> %>
<%= form_with model: [@room, @message], class: 'main-bottom', local: true do |f| %>
  <div class="form">
    <%= f.text_field :content, class: 'type-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-title">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit 'SEND', class: 'submit-message' %>
<% end %>